table.fool {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

    table.fool tr {
        height: 30px;
    }

        table.fool tr td,
        table.fool tr th {
            vertical-align: middle;
            border: 1px solid #74a0fc;
            padding: 0 10px;
        }
