.products-wrapper .product-item {
    display: -webkit-box;
    -webkit-box-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

    .products-wrapper .product-item:hover {
        background-color: rgb(238, 236, 236);
    }

    .products-wrapper .product-item img {
        width: 100px;
        height: 100px;
    }

    .products-wrapper .product-item .title {
        width: 380px;
        padding-left: 20px;
    }

    .products-wrapper .product-item .price {
        width: 100px;
        text-align: center;
    }

    .products-wrapper .product-item .color {
        width: 20px;
        height: 20px;
        border: 1px solid #74a0fc;
    }

    .products-wrapper .product-item .view-btn {
        margin-left: 50px;
    }

    .products-wrapper .product-item .buy-btn {
        margin-left: 20px;
    }
