<nav class="main-menu" ng-controller="adminMenuController as adminMenu">
    <ul>
        <li ui-sref="adminUsers()">Users</li>
        <li ui-sref="adminProducts()">Products</li>
        <li ui-sref="adminCategory()">Categories</li>
        <li ui-sref="adminOrders()">Orders</li>
        <li>Feedback</li>
        <li ui-sref="home()">Go to shop</li>
    </ul>
    <div class="hello-block" ng-if="$user">
        <p class="name">Hello, {{$user.Login}}</p>
        <p ui-sref="profile()" class="profile">Profile</p>
        <a ng-click="Auth.signOut()" class="signout">Sign Out</a>
    </div>
</nav>
