<div class="user-actions-wrapper" ng-controller="userActionsController as userActions">
    <h1 ng-if="isCreate">Create User</h1>
    <h1 ng-if="!isCreate">Edit User</h1>
    
    <h2 ng-if="hide">No user</h2>
    <form class="centered-table-form" ng-if="!hide">
        <table>
            <tr>
                <td>Id</td>
                <td>{{user.Id}}</td>
            </tr>
            <tr>
                <td>Login</td>
                <td>
                    <input type="text" name="login" ng-model="user.Login" />
                </td>
            </tr>
            <tr ng-if="isCreate">
                <td>Password</td>
                <td>
                    <input type="password" name="password" ng-model="user.Password" />
                </td>
            </tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="text" name="email" ng-model="user.Email" />
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>
                    <input type="text" name="name" ng-model="user.Name" />
                </td>
            </tr>
            <tr>
                <td>Surname</td>
                <td>
                    <input type="text" name="surname" ng-model="user.Surname" />
                </td>
            </tr>
            <tr>
                <td>Create date</td>
                <td>{{user.CreateDate}}</td>
            </tr>
            <tr>
                <td>Admin</td>
                <td>
                    <input type="checkbox" name="admin" ng-model="user.IsAdmin" />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" name="create" value="Create" ng-if="isCreate" ng-click="create()" />
                    <input type="button" name="edit" value="Edit" ng-if="!isCreate" ng-click="edit()" />
                </td>
            </tr>
        </table>
    </form>
</div>
