<!doctype html>
<html ng-app="shopApp">
<head>
	<meta charset="UTF-8">
	<title>Fan shop</title>
	<link rel="stylesheet" href="app/styles/import.css"/>
</head>
<body>
	<div class="app-wrapper">
		<nav class="main-menu" ng-controller="menuController as menu">
			<ul>
				<li ui-sref='home()'>Home</li>
				<li ui-sref='category()'>Products</li>
                <li ui-sref='contacts()'>Contacts</li>
			</ul>
			<div class="login-block" ui-view="login" ng-if="!$user"></div>
			<div class="hello-block" ng-if="$user">
			    <p class="name">Hello, {{$user.Login}}</p>
                <p ui-sref="profile()" class="profile">Profile</p>
			    <a ng-click="Auth.signOut()" class="signout">Sign Out</a>
			</div>
		</nav>
		<div class="content-wrapper">
			<div class="content" ui-view="content"></div>
		</div>
	</div>
	<script src="app/js/lib/angular/angular.min.js"></script>
	<script src="app/js/lib/angular/angular-ui-router.min.js"></script>
	<script src="app/js/lib/angular/angular-cookies.min.js"></script>
	<script src="app/js/module.js"></script>
	<script src="app/js/factory.js"></script>
	<script src="app/js/app.js"></script>
    <script src="app/js/directives.js"></script>
	<script src="app/js/controllers/menu.ctrl.js"></script>
	<script src="app/js/controllers/home.ctrl.js"></script>
    <script src="app/js/controllers/registration.ctrl.js"></script>
    <script src="app/js/controllers/login.ctrl.js"></script>
    <script src="app/js/controllers/foggot.ctrl.js"></script>
    <script src="app/js/controllers/contacts.ctrl.js"></script>
    <script src="app/js/controllers/category.ctrl.js"></script>
    <script src="app/js/controllers/products.ctrl.js"></script>
    <script src="app/js/controllers/details.ctrl.js"></script>
</body>
</html>