<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dataAccess.Properties.Settings.fanshopConnectionString"
            connectionString="Data Source=DANIEL-PC;Initial Catalog=fanshop;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="dataAccess.Properties.Settings.fanshopConnectionString1"
            connectionString="Data Source=tcp:boyy7emqz4.database.windows.net,1433;Initial Catalog=fanshop;Integrated Security=False;User ID=DANIEL-PC@boyy7emqz4;Password=27June1991;Connect Timeout=30;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>