<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dataAccess.Properties.Settings.fanshopConnectionString"
            connectionString="Data Source=DANIEL-PC;Initial Catalog=fanshop;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>