body {
    font-family: PTSans;
    font-weight: 400;
    font-style: normal;
    color: #74a0fc;
}

input[type=text], input[type=password], input[type=email] {
    padding: 4px 7px;
    font-size: 14px;
}

input[type=button] {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background: lightgreen;
    font-family: PTSans;
    font-size: 16px;
    line-height: 1.2;
    cursor: pointer;
}

a {
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

.app-wrapper {
    width: 1280px;
    margin: 0 auto;
}

.content-wrapper {
    padding: 10px 30px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
}

.form-error {
    position: absolute;
    width: 200px;
    left: 10px;
    font-size: 12px;
    color: red;
    line-height: 1.3;
}

.centered-table-form {
    display: -webkit-box;
    -webkit-box-pack: center;
}

    .centered-table-form table tr {
        height: 45px;
    }

        .centered-table-form table tr td {
            position: relative;
            vertical-align: middle;
        }

            .centered-table-form table tr td:first-child {
                width: 150px;
            }

    .centered-table-form:not(.not-right) table tr:last-child td {
        text-align: right;
    }

.paginator {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

    .paginator li {
        text-decoration: underline;
        text-align: center;
        width: 30px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
    }

        .paginator li.active {
            color: red;
        }
