<div class="foggot-password-wrapper" ng-controller="foggotController as foggot">
    <h1>Foggot password</h1>
    <form name="foggotForm" class="centered-table-form">
        <table>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email" ng-model="email" required />
                </td>
                <td>
                    <span class="form-error" ng-show="foggotForm.email.$error.required && foggotForm.email.$dirty">*</span>
                    <span class="form-error" ng-show="!foggotForm.email.$error.required && foggotForm.email.$error.email && foggotForm.email.$dirty">Invalid email</span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" name="submit" value="Send new password" ng-disabled="!foggotForm.$valid" ng-click="send()" />
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
