<div class="products-wrapper" ng-controller="productsController as products">
    <h1>Products</h1>
    <div class="products-block">
        <div class="product-item" ng-repeat="item in viewList">
            <img ng-src="app/media/images/products/{{item.PublicKey}}.jpg" alt="{{item.Title}}" />
            <p class="title">{{item.Title}}</p>
            <p class="price">{{item.Price}}</p>
            <div class="color" ng-style="{background:item.Color}"></div>
            <input type="button" class="view-btn" name="view" value="View details" ng-click="view(item.PublicKey)"/>
            <input type="number" name="count" ng-model="item.count"/>
            <input type="button" class="buy-btn" name="buy" value="Add to basket" ng-click="addToBacket(item)" ng-disabled="item.disable" />
            <p ng-show="item.success">Success</p>
        </div>
    </div>
    <ul class="paginator">
        <li ng-repeat="page in pages" ng-click="goto(page)" ng-class="{active:page == currentPage}">{{page}}</li>
    </ul>
</div>